@font-face {
    font-family: 'buttermilk';
    src: url('Buttermilk.woff2');
}
@font-face {
    font-family: 'matter-light';
    src: url('matter-light.woff2');
}
@font-face {
    font-family: 'matter-regular';
    src: url('matter-regular.woff2');
}
@font-face {
    font-family: 'Passenger Sans Variable Thin';
    src: url('PassengerSans-Variable.e7fbe7bf.woff2');
}
@font-face {
    font-family: 'Gilroy-black';
    src: url('Gilroy-Black.woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'matter-light';
}
#main{
    width: 100%;
    background: linear-gradient(to bottom right,#A1C4FD ,#C2E9FB);
}
#home{
    width: 100%;
    min-height: 100vh;
}
#nav{
    padding: 40px 40px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav #left{
    font-weight: 400;
    text-shadow: 5px 2px 25px #000;
}
#nav #left h1{
    font-size: 40px;
    font-family: 'buttermilk';
    letter-spacing: 3px;
    color:pink;
}
#nav #left h1::selection{
    background-color: transparent;
    color:#000;
}
#nav #right{
    display: flex;
    gap: 2vw;
    
}
#nav #right a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: 900;
    letter-spacing: 0px;
    font-family: 'Passenger Sans Variable Thin';
}
#homemain{
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#homemain #firstblog{
    border-radius: 18px;
    width: 80%;
    min-height: 70vh;
    background-color: rgba(245, 245, 245, 0.445);
    display: flex;
    justify-content: space-between;
    box-shadow: 8px 5px 150px #00000065;
}
#firstblog h1{
    padding: 50px 50px;
}
#firstblog span{
    background-color: rgba(0, 0, 255, 0.308);
    font-size: 16px;
    font-family: 'matter-regular';
    padding: 8px 40px 10px ;
    font-weight: 400;
    border-radius: 15px;
    
    margin-left: 45px;
}
#firstblog .para{
    position: absolute;
    top: 80%;
    left: 68%;
    font-size: 13.8px;
    font-weight: 558;
    background-color: #c2e9fb52;
    padding: 5px 5px;
    border-radius: 18px;
}
#firstblog img{
    transform: translate(-16%,10%);
    border-radius: 18px;
    height: 400px;
    position: relative;
}
#firstblog #leftblog {
    width: 50%;
}
#firstblog #leftblog p{
    padding: 20px 45px ;
    font-weight: 200;
    font-size: 14px;
}
#firstblog #leftblog h3{
    padding-left: 45px;
}
#firstblog #leftblog ul{
    padding:25px 80px;
}

#homelast {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
#homelast #secondblog{
    border-radius: 18px;
    width: 80%;
    min-height: 70vh;
    background-color: rgba(245, 245, 245, 0.445);
    box-shadow: 8px 5px 150px #00000065;
}
#homelast #secondblog h1{
    padding: 40px 40px;
}
#homelast #secondblog p{
    font-weight: 570;

}
#homelast #secondblog span:nth-child(2){
    background-color: rgba(0, 0, 255, 0.308);
    font-size: 16px;
    font-family: 'matter-regular';
    padding: 8px 40px 10px ;
    font-weight: 400;
    border-radius: 15px;
    margin-left: 45px;
}
#homelast #secondblog span:nth-child(3){
    background-color: rgba(0, 0, 255, 0.308);
    font-size: 16px;
    font-family: 'matter-regular';
    padding: 8px 40px 10px ;
    font-weight: 400;
    border-radius: 15px;
    margin-left: 15px;
}
#homelast #secondblog p{
    padding: 30px 40px;
}
#homelast #secondblog ol{
    padding: 6px 80px ;
}
#footer{
    width: 100%;
    height: 5vh;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contant{
    height: 76%;
    width: 35%;
    background:linear-gradient(180deg, rgba(173, 216, 230, 0.671),rgba(135, 207, 235, 0.479));
    border-radius: 15px;
    /* display: block; */
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px #00000041;
}
#contant h1{
    display: flex;
    justify-content: center;
    padding-top: 27px;
    font-family: 'Gilroy-black';
}
#contant form{
    display: inline-block;
}
#contant form{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    
}
form{
    align-items: center;
    justify-content: center;
}
#contant form input{
    padding: 10px 10px ;
    width: 92%;
    margin: 0 0 0 35px;
    border-radius: 8px;
    border: 1px solid #00000081;
    background-color: #ffffff8a;
    font-family: 'matter-light';
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
}
#contant form label{
    margin: 0 0 0 40px;
    font-family: 'matter-regular';
}
#contant form textarea{
    resize: none;
    margin-left: 35px;
    padding-top: 7px;
    padding-left: 10px;
    width: 30vw;
    border-radius: 8px;
    background-color: #ffffff6e;
    outline: none;
}
#contant form button{
    text-align: center;
    transform: translate(10%,6%);
    padding: 10px 10px ;
    width: 90.5%;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #00000071;
    background-color: rgb(69, 69, 253);
    color: #fff;
    font-family: "matter-regular";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
    font-size: 1.1vw;
}
#contant form button:hover{
    box-shadow: 2px 2px 20px #1817174d;
}
#contant form input:hover{
    box-shadow: 2px 2px 20px #00000031;
}
#contant form textarea:hover{
    box-shadow: 2px 2px 20px rgba(90, 90, 255, 0.425);
    
}
#page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
